@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}

body{
    background-image: url(../img/mekka-list.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
}

.navbar-collapse {
    flex-grow: 0.5 !important;
}

.navbar {
    backdrop-filter: blur(50px);
}

.nav-link {
    text-shadow: 0px 0px 20px orange;
    font-size: 26px !important;
    position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background: orange;
  transform: scale(0);
  transition: 0.3s linear;
}

.nav-link:hover::after {
  transform: scale(1);
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tel__logo {
  width: 50px;
  height: 50px;
  -webkit-animation: shake 0.5s infinite;
  animation: shake 0.5s infinite;
}

@-webkit-keyframes shake {
  0% {
      transform: rotate(0deg);
  }

  50% {
      transform: rotate(25deg);
  }
}

@keyframes shake {
  0% {
      transform: rotate(0deg);
  }

  50% {
      transform: rotate(25deg);
  }
}


.blog-slider {
    width: 95%;
  position: relative;
    max-width: 800px;
    margin: auto;
    margin-top: 10px !important;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
  transition: all .3s;
  
   
  @media screen and (max-width: 992px) {
    max-width: 680px;
        height: 400px;
  }
  
  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
  
  
  @media screen and (max-height: 500px) and (min-width: 992px) {
        height: 350px;
  }
  
  &__item {
    display: flex;
    align-items: center;
    
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
    
    &.swiper-slide-active {
      .blog-slider__img {
        img {
          opacity: 1;
        transition-delay: .3s;
        }
      }
      .blog-slider__content {
        > * {
      
        opacity: 1;
        transform: none;

      @for $i from 0 to 15 {
        &:nth-child(#{$i + 1}) {
          transition-delay: $i * 0.1 + 0.3s;
        }
      }

    }
      }
    }
    
  }
  
  &__img {
     // width: 40%;
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);
   
    overflow: hidden;
    
    &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
      border-radius: 20px;
    opacity: 0.8;
}
    
    img {
      width: 100%;
    height: 100%;
    object-fit: cover;
      display: block;
       opacity: 0;
      border-radius: 20px;
    transition: all .3s;
    }
    
    
    @media screen and (max-width: 992px) {
      // width: 45%;
    }
    @media screen and (max-width: 768px) {
    transform: translateY(-50%);
      width: 90%;
  }
    @media screen and (max-width: 576px) {
      width: 95%;
    }
     @media screen and (max-height: 500px) and (min-width: 992px) {
        height: 270px;
  }
  }
  
  &__content {
    // width: 60%;
    padding-right: 25px;
    @media screen and (max-width: 992px) {
      // width: 55%;
    }
    @media screen and (max-width: 768px) {
          margin-top: -80px;
    text-align: center;
    padding: 0 30px;
    }
    
    @media screen and (max-width: 576px) {
      padding: 0
    }
    > * {
      opacity: 0;
      transform: translateY(25px);
      transition: all .4s;
      
      
    }
    
  }
  
  &__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }
  
  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
  }
  
  &__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
  }
  
  &__button {
        display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, orange 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
        justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
    
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
    
}
  &__pagination {
   position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px!important;
    text-align: center;
    left: auto!important;
    top: 50%;
    bottom: auto!important;
    transform: translateY(-50%);
    @media screen and (max-width: 768px) {
     transform: translateX(-50%);
          left: 50%!important;
      top: 205px;
    width: 100%!important;
    display: flex;
    justify-content: center;
    align-items: center;
    }
     &.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
       @media screen and (max-width: 768px) {
         margin: 0 5px;
       }
}
    
    .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
      transition: all .3s;
      &-active {
    opacity: 1;
    background: orange;
    height: 30px;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
        
        @media screen and (max-width: 768px) {
          height: 11px;
          width: 30px;
        }
}
}
    
  }
  
}


// ===FOOTER===

// .footer {
//     background-image: url(../img/footer-bg.png);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 300px;
//     display: flex;
// }

footer{
    backdrop-filter: blur(20px);
    margin-top: 200px;
    height: 300px;
}

.footer-list {
    height: 100%;
}

.list__block li{
  transition: .3s linear;
}

.list__block li:hover{
  color: orange;
  text-shadow: 0px 0px 10px white;
  transition: .3s linear;
}

@media (max-width: 991px) {
    .footer-list h3 {
        font-size: 20px;
    }

    .footer-list img {
        width: 300px;
    }

}

@media (max-width: 767px) {
    .footer-list img {
        width: 150px;
    }

    .footer-list h3 {
        font-size: 15px;
        text-align: center;
    }

    .footer-list li {
        font-size: 20px !important;
        text-align: center;
    }
}


@media (max-width: 389px) {

    .footer-list img {
        width: 100px;
    }

    .footer-list h3 {
        font-size: 12px;
    }

    .footer-list li {
        font-size: 12px !important;
    }
}